---
import Characters from '../../components/Characters.astro';
import Layout from '../../layouts/Layout.astro';
import { campaignQuery } from '../../lib/groq/campaign';
import { sanityClient } from '../../lib/util/sanityClientPublic';

const { id } = Astro.params;

if (!id) {
    throw new Error('No campaign ID provided');
}

const campaign = await sanityClient.fetch(campaignQuery(id));


---

<Layout title="Astounding Campaign!">
	<main>

        <h1>{campaign.title}</h1>
        <img src={campaign.imageSrc} alt={campaign.title}/>
        <p>{campaign.description}</p>
        <ul>
            {campaign.acts.map((act:any, i: number) => (
                <li>
                    <h2>{`Act ${i + 1}: ${act.title}`}</h2>
                    { act.imageSrc && (
                            <img src={act.imageSrc} alt={act.title}/>
                    )}
                    <p>{act.description}</p>
                    <ul>
                        {act.scenes.map((scene:any) => (
                            <li>
                                <h3>{scene.title}</h3>
                                {scene.imageSrc && (
                                    <img src={scene.imageSrc} alt={scene.title}/>
                                )}
                                <p>{scene.description}</p>
                                <Characters characters={scene.characters}/>
                            </li>
                        ))}
                    </ul>
                </li>
            ))}
        </ul>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
